.container {
  margin: 10px 15px;
  position: relative;
}
#inp {
  font-size: 35px;
  padding: 10px;
  display: block;
  border-radius: 6px;
  border: none;
}
#inp:focus {
  outline: none;
}
.result {
  border-radius: 6px;
  line-height: 1.6;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 25px;
  border: solid 1px #999;
  display: none;
  max-width: 60%;
  transition: 0.48s;
}
div button {
  position: fixed;
  right: 20px;
  top: 15%;
  padding: 15px 20px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  background-color: darkslateblue;
  color: white;
  font-weight: bold;
}
